<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassSenseCore.Properties.Settings.ClassSenseConnectionString"
            connectionString="Data Source=XENTRIC925\SQLEXPRESS;Initial Catalog=ClassSense;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
		<add name="DatabaseEntities" connectionString="Data Source=XENTRIC925\SQLEXPRESS;Initial Catalog=ClassSense;Integrated Security=True;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;TrustServerCertificate=true" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>